* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  background: #1c1c1c;
  align-items: center;
  justify-content: center;
}
#root {
  width: 80%;
  background: #f5f7fb;
  min-width: 550px;
  position: relative;
}

.question--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

main {
  margin: 75px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  flex-direction: column;
}

.question {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 19px;
  color: #293264;
  margin: 20px 0;
}
.answers {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 12px;
  /* identical to box height */

  text-align: center;

  color: #293264;
}

.answers > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #4d5b9e;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 5px 10px;
  margin-left: 5px;
  min-width: 65px;
  min-height: 20px;
  cursor: pointer;
  line-height: 15px;
}
hr {
  margin: 50px 0px;
}

.done {
  color: #29326496;
  border: 0.771045px solid #4d5b9e91;
}

.button {
  background: #4d5b9e;
  min-width: 120px;
  border: none;
  border-radius: 5px;
  color: white;
  min-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.endGame--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 15px;
  text-align: center;

  color: #293264;
}
.startGame--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  text-align: center;

  color: #293264;
}
.startGame--container > h1 {
  font-size: 70px;
}
.startGame--container > p {
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
  text-align: center;

  color: #293264;
}

.game--options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  min-height: 150px;
}

.game--options > label > select {
  margin-left: 10px;
  padding: 5px;
  outline: none;
  border: none;
  color: #293264;
  font-family: "Inter";
  font-weight: 600;
}
.game--options > fieldset {
  width: 100%;
  height: 50px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.game--options > fieldset > span > input {
  margin: 5px;
}

.temp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Timer {
  position: sticky;
  top: 0;
  width: 200px;
  height: 40px;
  background-color: #f5f7fb;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b33030;
  font-family: "Inter";
  font-weight: 600;
  box-shadow: 2px 2px 5px black;
}
